<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <% if can? :read, Book %>
      <%= link_to 'Books', books_path, class: 'navbar-brand' %>
    <% end %>
    <% if can? :read, Borrow %>
      <%= link_to 'Borrows', borrows_path, class: 'navbar-brand' %>
    <% end %>
    <% if can? :index, :dashboard %>
      <%= link_to 'Dashboard', dashboard_path, class: 'navbar-brand' %>
    <% end %>
    <div class="d-flex">

      <% if user_signed_in? %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-link' %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-link' %>
      <% end %>
    </div>
  </div>
</nav>