<h3><%= @book.title %></h3>

<p>
  <strong>Author</strong>: <%= @book.author %> <br>
  <strong>Genre</strong>: <%= @book.genre %> <br>
  <strong>ISBN</strong>: <%= @book.isbn %> <br>
  <strong>Copies</strong>: <%= @book.total_copies %> <br>
</p>

<div>
  <% if can? :edit, @book %>
    <%= link_to "Edit this book", edit_book_path(@book), class: 'btn btn-link' %> |
  <% end %>
  <%= link_to "Back to books", books_path, class: 'btn btn-link' %>

  <% if can? :destroy, @book %>
    <%= button_to "Destroy this book", @book, method: :delete, class: 'btn btn-danger' %>
  <% end %>
</div>
